body {
    background      : #ffffff;
    color           : #000000;
}

body, td {
    font-family     : monospace;
}

h1, h2, h3, h4 {
    font-family     : arial;
}

a {
    color           : #0000cc;
}

a:visited {
    color           : #990099;
}

a:hover {
    color           : #0000ff;
    background      : #ccccff;
}

hr {
    height          : 1;
}

pre, xmp {
    border      : 1 solid #999999;
    background  : #f0f0f0;
}

h2 {
    border          : 1 solid #000000;
    border-width    : 0 0 1 0;
}

h1.logo {
    font-size       : 48px;
}

.logo {
    font-family     : arial;
    font-weight     : bold;
    font-style      : italic;
    color           : rgb(51, 51, 153);
}

.header {
    text-align      : center;
}

.footer {
    font-size       : smaller;
    text-align      : center;
}

.headmenu {
    font-size       : smaller;
}

.counter {
    font-family     : monospace;
}
